/* Ãndex */

header.index {
  width: 100%;
  height: 125px;
  background-image: linear-gradient(to right, #59f898, cyan);
}

.index h1 {
  text-align: center;
  font-size: 38px;
  font-family: "Courier New", Courier, monospace;
  margin-top: 0;
  padding-top: 25px;
}
.index p {
  text-align: center;
}

.index span {
  font-size: 18px;
  color: green;
  font-style: italic;
}

nav.index ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 0;
}

.index li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 80px;
  border: 1.5px solid black;
  background-color: #59f898;
}

.index li:hover {
  background-color: cyan;
  cursor: pointer;
}

.index li > a {
  font-size: 22px;
  color: black;
  font-variant: small-caps;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  display: block;
}

footer.fixed {
  width: 100%;
  height: 45px;
  text-align: center;
  position: fixed;
  bottom: 0;
  background-image: linear-gradient(to right, #59f898, cyan);
}

/* Ejercicio 1 */

section.intro {
  max-width: 1000px;
  max-height: 1000px;
  border: 3px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.intro div {
  width: 40px;
  height: 600px;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.intro div:nth-of-type(1) {
  background-color: #59f898;
  color: white;
}

.intro div:nth-of-type(2) {
  background-color: #4f8ecd;
  color: white;
}

.intro div:nth-of-type(3) {
  background-color: #9c4bb2;
  color: white;
}
.intro div:nth-of-type(4) {
  background-color: #043021;
  color: white;
}
.intro div:nth-of-type(5) {
  background-color: #eaf136;
  color: white;
}
.intro div:nth-of-type(6) {
  background-color: #e6b136;
  color: white;
}
.intro div:nth-of-type(7) {
  background-color: #ee7111;
  color: white;
}
.intro div:nth-of-type(8) {
  background-color: grey;
  color: white;
}
.intro div:nth-of-type(9) {
  background-color: rgb(100, 206, 117);
  color: white;
}
.intro div:nth-of-type(10) {
  background-color: #027241;
  color: white;
  width: 80px;
}

/* Ejercicio 2 */

section.ejercicio2 {
  max-width: 1000px;
  max-height: 300px;
  border: 3px solid red;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  overflow-y: scroll;
}

.ejercicio2 div {
  width: 100%;
  height: 50px;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.ejercicio2 div:nth-of-type(1) {
  background-color: #59f898;
  color: white;
}

.ejercicio2 div:nth-of-type(2) {
  background-color: #4f8ecd;
  color: white;
}

.ejercicio2 div:nth-of-type(3) {
  background-color: #9c4bb2;
  color: white;
}
.ejercicio2 div:nth-of-type(4) {
  background-color: #043021;
  color: white;
}
.ejercicio2 div:nth-of-type(5) {
  background-color: #eaf136;
  color: white;
}
.ejercicio2 div:nth-of-type(6) {
  background-color: #e6b136;
  color: white;
}
.ejercicio2 div:nth-of-type(7) {
  background-color: #ee7111;
  color: white;
}
.ejercicio2 div:nth-of-type(8) {
  background-color: grey;
  color: white;
}
.ejercicio2 div:nth-of-type(9) {
  background-color: rgb(100, 206, 117);
  color: white;
}
.ejercicio2 div:nth-of-type(10) {
  background-color: #027241;
  color: white;
}

/* Ejercicio 3 */

section.ejercicio3 {
  max-width: 900px;
  max-height: 400px;
  border: 3px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.ejercicio3 div {
  width: 300px;
  height: 100px;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.ejercicio3 div:nth-of-type(1) {
  background-color: #59f898;
  color: white;
}

.ejercicio3 div:nth-of-type(2) {
  background-color: #4f8ecd;
  color: white;
}

.ejercicio3 div:nth-of-type(3) {
  background-color: #9c4bb2;
  color: white;
}
.ejercicio3 div:nth-of-type(4) {
  background-color: #043021;
  color: white;
}
.ejercicio3 div:nth-of-type(5) {
  background-color: #eaf136;
  color: white;
}
.ejercicio3 div:nth-of-type(6) {
  background-color: #e6b136;
  color: white;
}
.ejercicio3 div:nth-of-type(7) {
  background-color: #ee7111;
  color: white;
}
.ejercicio3 div:nth-of-type(8) {
  background-color: grey;
  color: white;
}
.ejercicio3 div:nth-of-type(9) {
  background-color: rgb(100, 206, 117);
  color: white;
}
.ejercicio3 div:nth-of-type(10) {
  background-color: #027241;
  color: white;
}

/* Ejercicio 4 */

section.ejercicio4 {
  max-width: 1000px;
  max-height: 600px;
  border: 3px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.ejercicio4 div {
  width: 100px;
  height: 60px;
  font-size: 40px;
  color: white;
  text-align: center;
}

.ejercicio4 div:nth-of-type(1) {
  background-color: #59f898;
}

.ejercicio4 div:nth-of-type(2) {
  background-color: #4f8ecd;
}

.ejercicio4 div:nth-of-type(3) {
  background-color: #9c4bb2;
}
.ejercicio4 div:nth-of-type(4) {
  background-color: #043021;
}
.ejercicio4 div:nth-of-type(5) {
  background-color: #eaf136;
}
.ejercicio4 div:nth-of-type(6) {
  background-color: #e6b136;
}
.ejercicio4 div:nth-of-type(7) {
  background-color: #ee7111;
}
.ejercicio4 div:nth-of-type(8) {
  background-color: grey;
}
.ejercicio4 div:nth-of-type(9) {
  background-color: rgb(100, 206, 117);
}
.ejercicio4 div:nth-of-type(10) {
  background-color: #027241;
}

/* Ejercicio 5 */

section.ejercicio5 {
  max-width: 1000px;
  height: 600px;
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ejercicio5 div {
  width: 100%;
  height: 10px;
  font-size: 8px;
  color: white;
  text-align: center;
}

.ejercicio5 div:nth-of-type(1) {
  background-color: #59f898;
}

.ejercicio5 div:nth-of-type(2) {
  background-color: #4f8ecd;
}

.ejercicio5 div:nth-of-type(3) {
  background-color: #9c4bb2;
}
.ejercicio5 div:nth-of-type(4) {
  background-color: #043021;
}
.ejercicio5 div:nth-of-type(5) {
  background-color: #eaf136;
}
.ejercicio5 div:nth-of-type(6) {
  background-color: #e6b136;
}
.ejercicio5 div:nth-of-type(7) {
  background-color: #ee7111;
}
.ejercicio5 div:nth-of-type(8) {
  background-color: grey;
}
.ejercicio5 div:nth-of-type(9) {
  background-color: rgb(100, 206, 117);
}
.ejercicio5 div:nth-of-type(10) {
  background-color: #027241;
}

/* Ejercicio 6 */

section.ejercicio6 {
  max-width: 1000px;
  height: 600px;
  border: 3px solid red;
  display: flex;
  justify-content: flex-start;
  align-items: first baseline;
}

.ejercicio6 div {
  color: white;
  text-align: center;
}

.ejercicio6 div:nth-of-type(1) {
  background-color: #59f898;
  width: 20px;
  height: 25px;
  font-size: 20px;
}

.ejercicio6 div:nth-of-type(2) {
  background-color: #4f8ecd;
  width: 30px;
  height: 50px;
  font-size: 40px;
}

.ejercicio6 div:nth-of-type(3) {
  background-color: #9c4bb2;
  width: 35px;
  height: 65px;
  font-size: 50px;
  align-self: baseline;
}
.ejercicio6 div:nth-of-type(4) {
  width: 45px;
  height: 90px;
  font-size: 60px;
  background-color: #043021;
  align-self: baseline;
}
.ejercicio6 div:nth-of-type(5) {
  width: 10px;
  height: 15px;
  font-size: 10px;
  background-color: #eaf136;
  align-self: baseline;
}
.ejercicio6 div:nth-of-type(6) {
  width: 30px;
  height: 50px;
  font-size: 40px;
  background-color: #e6b136;
  align-self: baseline;
}
.ejercicio6 div:nth-of-type(7) {
  width: 30px;
  height: 50px;
  font-size: 40px;
  background-color: #ee7111;
  align-self: baseline;
}
.ejercicio6 div:nth-of-type(8) {
  width: 30px;
  height: 50px;
  font-size: 40px;
  background-color: grey;
  align-self: baseline;
}
.ejercicio6 div:nth-of-type(9) {
  width: 30px;
  height: 50px;
  font-size: 40px;
  background-color: rgb(100, 206, 117);
  align-self: baseline;
}
.ejercicio6 div:nth-of-type(10) {
  width: 70px;
  height: 42px;
  font-size: 33px;
  background-color: #027241;
  align-self: baseline;
}

/* Ejercicio 7 */

section.ejercicio7 {
  max-width: 900px;
  height: 600px;
  border: 3px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 0;
}

.ejercicio7 div {
  width: 300px;
  height: 100px;
  color: white;
  text-align: center;
  align-content: center;
}

.ejercicio7 div:nth-of-type(1) {
  background-color: #59f898;
}

.ejercicio7 div:nth-of-type(2) {
  background-color: #4f8ecd;
}

.ejercicio7 div:nth-of-type(3) {
  background-color: #9c4bb2;
}
.ejercicio7 div:nth-of-type(4) {
  background-color: #043021;
}
.ejercicio7 div:nth-of-type(5) {
  background-color: #eaf136;
}
.ejercicio7 div:nth-of-type(6) {
  background-color: #e6b136;
}
.ejercicio7 div:nth-of-type(7) {
  background-color: #ee7111;
}
.ejercicio7 div:nth-of-type(8) {
  background-color: grey;
}
.ejercicio7 div:nth-of-type(9) {
  background-color: rgb(100, 206, 117);
}
.ejercicio7 div:nth-of-type(10) {
  background-color: #027241;
}

/* Ejercicio 8 */

section.ejercicio8 {
  max-width: 1000px;
  height: 600px;
  border: 3px solid red;
  display: flex;
  align-items: start;
  justify-content: center;
}

.ejercicio8 div {
  flex: 1;
  color: white;
  text-align: center;
  font-size: 40px;
}

.ejercicio8 div:nth-of-type(1) {
  background-color: #59f898;
}

.ejercicio8 div:nth-of-type(2) {
  align-self: stretch;
  background-color: #4f8ecd;
}

.ejercicio8 div:nth-of-type(3) {
  background-color: #9c4bb2;
}
.ejercicio8 div:nth-of-type(4) {
  background-color: #043021;
}
.ejercicio8 div:nth-of-type(5) {
  background-color: #eaf136;
}
.ejercicio8 div:nth-of-type(6) {
  background-color: #e6b136;
  align-self: center;
}
.ejercicio8 div:nth-of-type(7) {
  background-color: #ee7111;
}
.ejercicio8 div:nth-of-type(8) {
  background-color: grey;
}
.ejercicio8 div:nth-of-type(9) {
  background-color: rgb(100, 206, 117);
  align-self: flex-end;
  height: 80px;
}
.ejercicio8 div:nth-of-type(10) {
  background-color: #027241;
}
