div.caja1.ejercicio1 {
  width: 250px;
  height: 200px;
  background-color: darkgray;
  border-width: 5px;
  border-color: red;
  border-style: solid;
  padding: 10px;
  margin: 25px;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

div.caja2.ejercicio1 {
  width: 300px;
  height: 200px;
  color: white;
  border-width: 7px;
  border-color: green;
  border-style: solid;
  background-color: grey;
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
}

.ejercicio2.contenedor {
  border: 4px solid red;
  width: 50%;
}

.ejercicio2.caja1 {
  border: 4px solid green;
  margin-top: 10px;
  margin-left: 10px;
  width: 50%;
  padding: 10px 0;
}

.ejercicio2.caja2 {
  border: 4px solid blue;
  margin-top: 10px;
  margin-left: 50px;
  width: 50%;
  padding: 10px 0;
}

.ejercicio2.caja3 {
  border: 4px solid orange;
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 50px;
  width: 50%;
  padding: 10px 0;
}

.ejercicio3.caja1 {
  border: 5px solid red;
  padding: 0;
  margin-bottom: 10px;
}

.ejercicio3.caja2 {
  border: 5px solid blue;
  padding: 25px;
  margin-bottom: 10px;
}

.ejercicio3.caja3 {
  border: 5px solid green;
  padding: 50px;
}

.ejercicio4.caja1 {
  border-top: 5px dotted green;
  border-right: 5px dashed orange;
  border-bottom: 5px dotted pink;
  border-left: 5px dashed blue;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.ejercicio4.caja2 {
  border-top: 4px solid cyan;
  border-right: 9px solid black;
  border-bottom: 4px solid pink;
  border-left: 9px solid black;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.ejercicio4.caja3 {
  border: 2px solid black;
  padding: 5px;
  text-align: center;
}
