header.index {
  width: 100%;
  height: 125px;
  background-image: linear-gradient(to right, #59f898, cyan);
}

.index h1 {
  text-align: center;
  font-size: 38px;
  font-family: "Courier New", Courier, monospace;
  margin-top: 0;
  padding-top: 25px;
}
.index p {
  text-align: center;
}

.index span {
  font-size: 18px;
  color: green;
  font-style: italic;
}

nav.index ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 0;
}

.index li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 80px;
  border: 1.5px solid black;
  background-color: #59f898;
}

.index li:hover {
  background-color: cyan;
}

.index li > a {
  font-size: 22px;
  color: black;
  font-variant: small-caps;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  display: block;
}

footer.fixed {
  width: 100%;
  height: 45px;
  text-align: center;
  position: fixed;
  bottom: 0;
  background-image: linear-gradient(to right, #59f898, cyan);
}

.ejercicio1 h1 {
  width: 800px;
  height: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  padding: 40px 20px;
  color: white;
  background-color: black;
  margin: 0;
}

.ejercicio1 nav > ul {
  display: flex;
  flex-wrap: wrap;
  place-content: start;
  justify-content: start;
  align-items: start;
  margin: 0;
  background-color: #f1eded;
  width: 840px;
  padding: 0;
}

.ejercicio1 li {
  background-color: #f1eded;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 125px;
  list-style: none;
  margin: 0;
}

.ejercicio1 li:hover {
  background-color: #39313186;
  color: #9f9d9d;
}

.ejercicio1 a {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #9f9d9d;
  text-decoration: none;
  margin: 0;
}

.ejercicio2 h1 {
  height: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 40px 20px;
  color: white;
  background-color: black;
  margin: 0;
}

.ejercicio2 nav ul {
  height: 40px;
  background-color: #f1eded;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin: 0;
}

.ejercicio2 li {
  background-color: #f1eded;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 125px;
  list-style: none;
}

.ejercicio2 li:hover {
  background-color: #39313186;
  color: #7f7d7d;
}

.ejercicio2 a {
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: bold;
  color: #7f7d7d;
  font-variant: small-caps;
}

.ejercicio3 h1 {
  height: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 40px 20px;
  color: white;
  background-color: black;
  margin: 0;
}

.ejercicio3 nav {
  height: 50px;
  margin: 0;
}

.ejercicio3 ul {
  background-color: #9f9d9d;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0 10px;
}

.ejercicio3 li {
  width: 150px;
  height: 50px;
  background-color: #9f9d9d;
  color: #323131;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.ejercicio3 li:hover {
  background-color: rgb(62, 62, 62);
  color: #dfdbdb;
}

.ejercicio3 a {
  text-decoration: none;
  text-align: center;
  color: inherit;
  padding: 0px 10px;
}

.ejercicio4 h1 {
  height: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 40px 20px;
  color: white;
  background-color: black;
  margin: 0;
}

.ejercicio4 nav {
  width: 400px;
  height: 200px;
  margin: 0;
}

.ejercicio4 ul {
  width: 400px;
  height: 200px;
  background-color: #9f9d9d;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  padding-left: 0;
}

.ejercicio4 li {
  width: 400px;
  height: 50px;
  background-color: #9f9d9d;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: #413f3f;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}

.ejercicio4 li:hover {
  background-color: #323131;
  color: #dfdbdb;
}

.ejercicio4 a {
  color: inherit;
  text-decoration: none;
}

.ejercicio5 h1 {
  height: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  padding: 5px 20px;
  color: white;
  background-color: black;
}

section.imgContainer {
  max-width: 100%;
  max-height: 220px;
  display: flex;
  justify-content: start;
  padding: 0;
  margin-top: 25px;
  background-color: #7f7d7d;
}

.imgContainer img {
  border: 2px dashed black;
}

.ejercicio6 h1 {
  height: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  padding: 5px 20px;
  color: white;
  background-color: black;
  margin-bottom: 20px;
}

section.imgContainerDos {
  display: flex;
  justify-content: start;
  gap: 20px;
  background-color: #7f7d7d;
  height: 220px;
  padding: 10px 0px 10px 5px;
}

.imgContainerDos img {
  border: 1.5px dashed black;
}

header.ejercicio7 {
  max-width: 100%;
  height: 50px;
  text-align: right;
  background-color: black;
  padding-top: 15px;
  padding-right: 10px;
}

.ejercicio7 h1 {
  color: white;
  margin: 0;
}

section.container {
  max-width: 100%;
  height: 400px;
  display: flex;
}

.container article {
  width: 33.3%;
  padding: 10px;
  overflow: auto;
}

.container article:first-of-type {
  background-color: #54ada4;
}

.container article:nth-of-type(2) {
  background-color: #80c85e;
}

.container article:last-of-type {
  background-color: #95b6ed;
}

.container h2 {
  text-align: center;
  font-weight: bold;
}

img.imagen {
  width: 100%;
  height: 225px;
}

header.ejercicio8 {
  width: 100%;
  height: 420px;
}

.ejercicio8 div {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: #94f553;
}

.ejercicio8 nav {
  width: 100%;
  height: 40px;
  background-color: #628e3a;
}

.ejercicio8 ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}

.ejercicio8 li + li::before {
  content: " | ";
  color: white;
}

.ejercicio8 a {
  color: white;
}

#fondo img {
  width: 100%;
  height: 280px;
}

.opciones article {
  margin: 50px 20px 0px 20px;
  border: 5px solid black;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 20px;
  padding-left: 20px;
}

.opciones i {
  font-size: 60px;
}

.opciones article:nth-of-type(1) {
  background-color: #fdf256;
  border-color: #807a2b;
}

.opciones article:nth-of-type(2) {
  background-color: #79c86e;
  border-color: #33511c;
}

.opciones article:nth-of-type(3) {
  background-color: #62badf;
  border-color: #1e465a;
}

aside {
  margin: 50px 20px 0px 20px;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  background-color: #7f7d7d;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 10px;
  padding-left: 10px;
}

aside h2 {
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
}

aside header {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

aside i {
  font-size: 80px;
}

i.fa-star {
  font-size: 20px;
  color: white;
}

i.fa-star:hover {
  color: black;
}
